<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>추천된 노트북 목록</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="container">
    <h1>추천된 노트북 목록</h1>

    <!-- 추천된 노트북이 없는 경우 -->
    <div th:if="${#lists.isEmpty(recommendedLaptops)}">
        <p>조건에 맞는 노트북을 찾을 수 없습니다. 다시 시도해주세요.</p>
        <a href="/recommends" class="btn-primary" aria-label="다시 추천받기">다시 추천받기</a>
    </div>

    <!-- 추천된 노트북이 있는 경우 -->
    <div th:unless="${#lists.isEmpty(recommendedLaptops)}">
        <div th:each="laptop : ${recommendedLaptops}" class="laptop-item">
            <a th:href="@{'/laptops/' + ${laptop.id}}" aria-label="노트북 세부정보">
                <img th:src="${laptop.imgLink}" alt="추천 노트북 ${laptop.name}" class="laptop-image">
                <h2 th:text="${laptop.name}" class="laptop-name">노트북 이름</h2>
            </a>
            <p th:text="'제조사: ' + ${laptop.manufacturer}" class="laptop-manufacturer">제조사</p>
            <p th:text="'가격: ' + ${#numbers.formatCurrency(laptop.price)} + '원'" class="laptop-price">가격</p>
            <p th:text="'무게: ' + ${laptop.weight} + ' kg'" class="laptop-weight">무게</p>
<!--            <p th:text="'점수: ' + ${#numbers.formatDecimal(laptop.score, 0, 2)}" class="laptop-score">점수</p>-->
            <hr class="divider"> <!-- 구분선 추가 -->
        </div>

        <!-- 페이지네이션 -->
        <div class="pagination" style="display: flex; align-items: center; justify-content: center; gap: 10px;">
            <form id="previous-button" th:if="${currentPage > 1}"
                  th:action="@{/recommends(page=${currentPage - 2})}"
                  th:object="${laptopRecommendationRequest}" method="post" class="pagination-form">
                <button type="submit" aria-label="이전 페이지">이전</button>
                <input type="hidden" th:field="*{budget}" />
                <input type="hidden" th:field="*{weight}" />
                <input type="hidden" th:field="*{displaySize}" />
                <input type="hidden" th:field="*{purpose}" />
            </form>

            <span>페이지 <span th:text="${currentPage}"></span> / <span th:text="${totalPages}"></span></span>

            <form id="next-button" th:if="${currentPage < totalPages}"
                  th:action="@{/recommends(page=${currentPage})}"
                  th:object="${laptopRecommendationRequest}" method="post" class="pagination-form">
                <button type="submit" aria-label="다음 페이지">다음</button>
                <input type="hidden" th:field="*{budget}" />
                <input type="hidden" th:field="*{weight}" />
                <input type="hidden" th:field="*{displaySize}" />
                <input type="hidden" th:field="*{purpose}" />
            </form>
        </div>

    </div>

    <!-- 다시 추천받기 버튼 -->
    <div>
        <a href="/recommends" class="btn-primary" aria-label="다시 추천받기">다시 추천받기</a>
    </div>
</div>
</body>
</html>
